{% extends 'base.html' %}



{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Привет всем!</h1>
        <p class="lead">Тут можно подписаться на некоторую статисктику по вашему любимому паблику вконтакте, проект сыроват. но милости просим.</p>
        <hr class="my-4">
        <p>Необходимо зарегестрироваться или войти)</p>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
        <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Зарегестрироваться</a>
    </div>
{% endblock content %}
    