{% extends 'base.html' %}


{% block content %}
    
    <div class="form-group m-3 p-5">
        <label>Скопируйте и вставьте ссылку на группу</label>
        <form action="{% url 'search_page' %}" method="POST" name="search">
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Вводить сюда" id="link" name="link">
            <button type="submit" class="btn btn-primary mt-3">Найти</button>
        </form>
    </div>
    
    {% if request.method == 'POST' %}
        {% if group.error %}
        <h1>{{ group.error }}</h1>
        {% else %}
            <div class="card m-5 p-5" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-title">{{ group.name }}</h4>
                <h5 class="card-text">{{group.status}}</h5>
                <p class="card-text">{{group.description}}</p>
                <button type="submit">Подписаться</button>
                </div>
            </div>
        {% endif %}
    {% endif %}      
{% endblock content %}
    
